@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

.item-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

}

#preview-product {
    width: 40%;

}


#description-product {
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
    box-sizing: border-box;
}

#preview-product img {
    width: 100%;
    margin-top: 50px;
}

#description-product h1 {
    font-weight: 400;
    font-size: 44px;
    letter-spacing: -2px;
    margin : 0;

}


#description-product h4 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
    margin-bottom: 0;
}

#description-product h3 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
    margin-bottom: 0;
}

#description-product p {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    margin-bottom: 0;
}

.price-bold {
    font-weight: bold;
    color: #009688;
}

#add-cart-btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}

#product-pics div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin-top: 20px;
}

#product-pics img {
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    box-sizing:border-box;
}